@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="display-4 mt-3 pb-3">Your Learning Journey Starts Here.</h4>

<div class="row">
    <div class="col-3">
        <img src="~/img/asp-netcore.jpg" alt="" class="img-fluid">
    </div>
    <div class="col-3">
        <img src="~/img/spring2.jpg" alt="" class="img-fluid">
    </div>
   
    <div class="col-3">
       <img src="~/img/laravel.webp" alt="" class="img-fluid">
    </div>
    <div class="col-3">
       <img src="~/img/python.jpg" alt="" class="img-fluid">
    </div>
</div>


    
</div>
