@model Tutor
@{
    ViewData["Title"] = "Tutor Add Page";
}

<h2>Add Tutor</h2>
<a href="/Tutor/List" class="btn btn-primary">Tutor List</a>
<hr>

<form asp-controller="Tutor" asp-action="Create" method="post">
<div class="mb-3">
  <label asp-for="TutorName" class="form-label">Tutor Name</label>
  <input asp-for="TutorName" class="form-control">
</div>

<div class="mb-3">
  <label asp-for="TutorSurname" class="form-label">Tutor Surname</label>
  <input asp-for="TutorSurname" class="form-control">
  </div>

  <div class="mb-3">
  <label asp-for="TutorPhone" class="form-label">Phone</label>
  <input asp-for="TutorPhone" class="form-control">
  </div>

  <div class="mb-3">
  <label asp-for="TutorEmail" class="form-label">Email</label>
  <input asp-for="TutorEmail" class="form-control">
  </div>

  <button class="btn-secondary" style="width: 70px; margin-top:20px;" type="submit" >Save</button>


</form>