@model Student 

<form asp-controller="Student" asp-action="Create" method="post">

  <label asp-for="StudentName" class="form-label">Trainee Name</label>
  <input asp-for="StudentName" class="form-control">

  <label asp-for="StudentSurname" class="form-label">Trainee Surname</label>
  <input asp-for="StudentSurname" class="form-control">

  <label asp-for="StudentPhone" class="form-label">Phone</label>
  <input asp-for="StudentPhone" class="form-control">

  <label asp-for="StudentEmail" class="form-label">Email</label>
  <input asp-for="StudentEmail" class="form-control">

  <button class="btn-secondary" type="submit">Save</button>


</form>