@model Course

<h2>Add Course</h2>

<form asp-controller="Course" asp-action="Create" method="post">
<div class="mb-3">
  <label asp-for="CourseName" class="form-label">Course Name</label>
  <input asp-for="CourseName" class="form-control">
</div>
  <button class="btn-secondary" style="width: 70px; margin-top:20px;" type="submit" >Add</button>

</form>