@model Course
@{
    ViewData["Title"] = "Course Delete Page";
}

<p>Do you really want to delete <b>@Model.CourseName Course?</b> </p>

<form asp-controller="Course" asp-action="Delete">
  <input type="hidden" asp-for="CourseId">
  <button type="submit" class="btn btn-danger">Yes I want to delete</button>
  <a asp-action="List" class="btn btn-primary">No go back</a>
</form>