@model Course

@{
    ViewData["Title"] = "Course Edit Page";
  }
  <h2>Course Update</h2>
  <a href="/Course/List" class="btn btn-danger">Course List</a>
  <hr>

<div class="row">
  <div class="col-8">
<form asp-controller="Course" asp-action="Edit" method="post">
<input type="hidden" asp-for="CourseId">
<div class="mb-3">
  <label asp-for="CourseName" class="form-label">Course Name</label>
  <input asp-for="CourseName" class="form-control">
  </div>

  <div class="mb-3">
  <label asp-for="TutorId" class="form-label">Tutor Name</label>
  <select asp-for="TutorId" asp-items="ViewBag.Tutors" class="form-select">
    <option value="">Choose</option>
  </select>
  </div>

   <button class="btn-secondary" style="width: 70px; margin-top:20px;" type="submit">Save</button>


</form>
  </div>
  <div class="col-4">
    <h4>Trainees</h4>
    <hr>
    <ul>
      @foreach(var item in @Model.CourseRegisters) {
        <li>@item.Student.StudentName</li>
      }
    </ul>
  </div>    
</div>


